[loggers]
keys=root

[logger_root]
level=INFO
handlers=consoleHandler

[formatters]
keys=consoleFormatter

[formatter_consoleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt = '%Y-%m-%d %H:%M'

[handlers]
keys=consoleHandler

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
level=DEBUG
args=(sys.stdout,)